<div class="card">
  <div class="card-body">
    <h2 class="card-title"><strong>CLientes Registrados</strong></h2>
    <h4 class="card-subtitle">Reporte de clientes registrados en el restaurante</h4>
    <div class="table-responsive m-t-40">
      <table id="tablaClientes" class="table table-bordered table-striped">
        <!--[mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"-->
        <thead>
          <tr>
            <!--<th>ID</th>
            <th>ID COMPRA</th>-->
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>FECHA NACIMIENTO</th>
            <th>LUGAR NACIENTO</th>
            <th>TELEFONO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clientes">
            <td>{{item.nombre }}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.fechaNacimiento| date}}</td>
            <td>{{item.lugarNacimiento}}</td>
            <td>
              {{item.telefono}}
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
