<div class="card">
  <div class="card-body">
    <h2 class="card-title"><strong>Registro de Auditorias de Compras</strong></h2>
    <h4 class="card-subtitle">Reporte de acciones realizadas en las  ventas</h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped"> <!--[mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"-->
        <thead>
          <tr>
            <!--<th>ID</th>
            <th>ID COMPRA</th>-->
            <th>FECHA COMPRA</th>
            <th>CLIENTE</th>
            <th>PRODUCTO</th>
            <th>CANTIDAD</th>
            <th>FECHA REGISTRO</th>
            <th>ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of logs">
            <td>{{item.fechaCompra | date:'medium'}}</td>
            <td>{{item.nombreCompleto}}</td>
            <td>{{item.producto}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.fechaDeRegistro| date:'medium'}}</td>
            <td>{{item.accion}}</td>
          </tr>
 
    
        </tbody>
      </table>
    </div>
  </div>
</div>
